<ul class="todo-list" *ngIf="ObjectTodos.length">

    <li class="todo-item" *ngFor="let task of ObjectTodos" [ngClass]="{completed : task.completed}">

        <button class="checkbox icon" (click)="onCheck(ObjectTodos, task)">
            <i class="material-icons">{{task.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
        </button>

        <span class="title">{{ task.title }}</span>


        <div class="actions">
            <!-- №1 - неправельно хоть и отработает - <a href="todo/{{task.id}}" class="icon open-todo">-->
            <a routerLink="todo/{{task.id}}" class="icon open-todo">
                <!-- № 2 и 3 правильно
                    <a routerLink="todo/{{task.id}}" >
                    <a [routerLink]="'todo/'+task.id" >
                -->
                <i class="material-icons">open_in_new</i>
            </a>
            <button class="delete icon" (click)="onDelete(ObjectTodos, task)">
                <i class="material-icons">delete</i>
            </button>
        </div>

    </li>

</ul>
