@import 'reset.css';
@import 'normalize.css';
@import 'bootstrap.min.css';
.col-center{
  float: none;
  margin: 0 auto;
}
.list-group-item label{
  margin: 0 15px;
  word-wrap: break-word;
}
.list-group-item .done{
  text-decoration: line-through;
  color: #cccccc;
}
.margin-bottom{
  margin-bottom: 50px;
}
.list-group-item .selected {
  background-color: #CFD8DC !important;
  color: #000dff;
}