<header>
  <img src="favicon.ico" alt="Ang">
  <a href="/">
    <h1> Angular {{title}}! </h1>
  </a>
</header>

<!--благодаря "app.routing.ts" длаем 1 такой тег -->
<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col md-12">
      <details>
        <summary>Очередность роста и подключений :</summary>
        <p>1) <a href="https://github.com/valor-software/ngx-bootstrap/blob/development/docs/getting-started/ng-cli.md#adding-ngx-bootstrap">ngx-bootstrap</a> для выравнивания и стилей</p>
        <p>2) <a href="">routing</a> </p>
        <p>3) <a href="https://metanit.com/web/angular2/4.1.php">service</a> </p>
        <p>4) <a href="https://metanit.com/web/angular2/6.1.php">HTTP</a>
           4.1) <a href="https://www.npmjs.com/package/angular-in-memory-web-api">angular-in-memory-web-api</a>
        </p>
      </details>
    </div>
  </div>
</div>
<footer class="panel-default">
  <div class="container">
    <div class="row navbar text-center">
      <section class="col-md-12">

        <a href="https://metanit.com/web/angular2/2.1.php">
          <button class="navbar-btn">Основы Angular</button>
        </a>
        <a href="https://angular.io/guide/quickstart">
          <button class="navbar-btn">Official QuickStart</button>
        </a>

        <a href="http://bootstrap-3.ru/components.php">
          <button class="navbar-btn">bootstrap 3 Components</button>
        </a>
        <a href="https://github.com/valor-software/ngx-bootstrap/blob/development/docs/getting-started/ng-cli.md#adding-ngx-bootstrap">
          <button class="navbar-btn">ngx-bootstrap</button>
        </a>

        <a href="https://github.com/angular/angular-cli/wiki#additional-commands">
          <button class="navbar-btn">angular-cli wiki</button>
        </a>

      </section>
    </div>
  </div>
</footer>
